@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth bg-dark" style="z-index: 5;">
        <LoginDisplay />
    </div>

    <div class="content px-4" style="height: 95%;">
        @Body
    </div>
</div>
